language: php

notifications:
  email:
    on_success: never
    on_failure: change

php:
  - 5.6
  - 7.0

cache:
  directories:
      - $HOME/.composer/cache

before_script:
  - composer install

script: phpunit
