language: php

notifications:
  email:
    on_success: never
    on_failure: change

php:
  - 5.3
  - 5.6
  - 7.0

matrix:
  include:
    - php: 5.3
    - php: 5.6
    - php: 7.0

before_script:
  - composer install

script: phpunit
